@media only screen and (min-width:600px) and (max-width:992px) {
	
	#success{
		position:relative;
		top:10em;
	}
	
	.form_data{
		position:relative;
		top:8em;
	}
	.form_register{
		display:flex;
		flex-wrap:wrap;
		width:100%;
	}
	.form_register>div{
		width:30%;
		margin:8px;
		background-image:linear-gradient(white,#cccccc);
	}

	
	.logo{
		position:absolute;
		left:12%;
		top: 2%;
	}
	.logo img {
		width: 53px;
		height: 54px;
		margin: 8px;
	}
	.login{
		display: none;
		position:absolute;
		top:40%;
		right:10%;
	}
	.login a{
		background-color:red;
		color:white;
		padding:4px;
		border-radius:4px;
		font-size:18px;
		text-decoration:none;
		box-shadow:2px 2px black;
	}
	.login a:link{
		color:white;
	}
	.login a:visited{
		color:white;
	}
	.login a:hover{
		background-color:blue;
	}
	.logout{
		position:absolute;
		bottom: 5%;
		left:3%;
	}

	.desktop{
		display: none;
	}
	.logout a{
		background-color:red;
		color:white;
		padding:4px;
		border-radius:4px;
		font-size:18px;
		text-decoration:none;
		box-shadow:2px 2px black;
	}
	.logout a:link{
		color:white;
	}
	.logout a:visited{
		color:white;
	}
	.logout a:hover{
		background-color:blue;
	}
	

	.modal_login {
	margin:10px 100px 0px 5px;
	background-image:linear-gradient(to bottom right,#ff9966,#66ccff);
	border-radius:13px;
	padding:15px;
	position:fixed;
	top:15%;
	width:70%;
	left:13%;
animation:modal 1s;
	-webkit-animation:modal 1s;
	z-index:1;
	
}
@keyframes modal{
	from{
		top:-10em;
		opacity:0;
		
	}
	to{
		top:15%;
		opacity:1;
	}
}

@-webkit-keyframes modal{
	from{
		top:-10em;
		opacity:0;
	}
	to{
		top:15%;
		opacity:1;
	}
}
.register_page{
		position:relative;
		top:10em;
	}
	
.fieldset_register{
		
		display:flex;
		flex-direction:row;
	}
	
	
	
	.bold{
		font-weight:bold;
	}
.top_cancel{
		background-color:red;
		color:white;
		padding:5px;
		font-size:26px;
		border-radius:3px;
		position:fixed;
		top:22%;
		left:56%;
	}
	.cancel button{
		background-color:red;
		color:white;
	}
	.modal_content button{
		background-color:green;
		color:white;
		border-radius:3px;
	}
	.register{
		padding:30px;
		border:2px dotted black;
		animation:register 1s linear;
		-webkit-animation:register 1s linear;
	}
	
	
	@keyframes register{ from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1);}
							  
		}
		
 @-webkit-keyframes register{
	  from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1); }
 }
	
	.register fieldset{
		border: 1px solid black;
	}
	.register legend{
		color:blue;
	}

	.register input[type=submit]{
		background-color:green;
		color:white;
	}
	
	.modal_content img{
		width:80px;
		height:80px;
		border-radius:50%;
		margin:auto;
		position:relative;
		top:10px;
		border:1px solid blue;
	}

	
.modal_advert{
		width:40%;
		margin:auto;
		text-align:center;
		border-radius:15px;
		animation:modal_advert 1s;
		-webkit-animation:modal_advert 1s;
		z-index:1;
		position:fixed;
		top:20%;
		left:20%;
		background-color:rgba(255,255,255,1);
		color:black;
		overflow:scroll;
		height:20em;
		padding:15px;
		display:none;
		border: 1px solid blue;
		animation:modal_advert 1s linear;
		-webkit-animation:modal_advert 1s linear;}
		
	@keyframes modal_advert{ from{ 
							  position:absolute;
							  bottom:0;
							  transform:scale(0.3);}
							  
					    to{ 
	                       
							   position:absolute;
							  top:0;
							  transform:scale(1);
							  }
							  
		}
		
 @-webkit-keyframes modal_advert{
	  from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1); }
 }
		
		
		
	
	
	.welcome.php{
		
		position:relative;
		bottom:0;
		color:blue;
	}
	
	.database{
		position:absolute;
		bottom:0;
		z-index:1;
		
	}
	
	
	.freed{
		display: none;
		width:300px;
		border-radius:3px;
		background-color:green;
		color:white;
		animation:freed 0.5s linear infinite;
		-webkit-animation:freed 0.5s linear infinite;
		position:absolute;
		top:40em;
		left:8em;
		padding:5px;
		text-align:center;
		font-size:18px;
		z-index:-1;
	}
	@keyframes freed{
		0%{ color:white;}
		50%{ display:none;}
		100%{background-color:red;}
	}
.offer {
    width: 150px;
    border-radius: 50%;
    background-color: rgb(0, 113, 128);
    color: white;
    animation: offer 5s linear infinite;
    position: absolute;
    top: 30em;
    right: 5em;
    padding: 28px;
    height: 150px;
    text-align: center;
    text-justify: center;
    font-size: 16px;
    z-index: 4;
}
	
	@keyframes offer{
		0%{ width:100px; height:100px;}
		50%{ width:130px; height:130px; font-size:22px;}
		100%{background-color:rgb(4, 0, 255); width:80px; height:80px; font-size:14px; }
	}
	form{
		width:100%;
	}
	input[type="checkbox"]{
		margin-left:50px;
	}
	
	.methods{
		width:100%;
		position:absolute;
		top:2.6em;
		left:12em;;
	}
	.cards{
		width:15%;
		padding:5px;
		float:left;
		margin-right:10px;
	}
	
	.cards img{
		width:50px;
		height:auto;
	}
	
	.payment{
		padding:5px;
		margin:2px;
		position:absolute;
		top:86em;
		width:38%;
		background-color:#99FFFF;
		height:15em;
		padding-top:100px;
		margin:2px;
		float:right;
		border-radius:15px;
		animation:payment 1s linear;
		-webkit-animation:payment 1s linear;
	}
	.payment input[type=submit]{
		background-image:linear-gradient(maroon,red,maroon);
		color:white;
		font-size:16px;
		padding:10px;
		border-radius:3px;
		width:210px;
		position:relative;
		bottom:0;
		margin-left:40px;
	}
	
	
	@keyframes payment{ from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1);}
							  
		}
		
 @-webkit-keyframes payment{
	  from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1); }
 }
	
	.payment input[type=submit]:hover{
		background-image:linear-gradient(blue);
		opacity:0.5;
	}
	
	.contact {
		background: linear-gradient(to bottom left , rgb(19, 19, 160),rgb(26, 26, 163));
		position: relative;
		top: 3em;
		padding: 7px;
		width: 100%;
		margin: 0;
		animation: contact 1s;
		-webkit-animation: contact 1s;
	}

@keyframes contact{ from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1);}
							  
		}
		
 @-webkit-keyframes contact{
	  from{ 
	                          transform:scale(0.3);}
							  
					    to{ 
	                          transform:scale(1); }
 }
							  

#contact1{ text-align:center;}

#about p{text-align:center; color: rgb(255, 255, 255);
 font-size:18x;}
#contact1 p{ color:rgb(255, 255, 255);font-size:15px;}

#about p a{font-size:17px; color:rgb(255, 255, 255);}


.contact3{color:rgb(245, 230, 230);font-weight:bold;font-size:23px; padding: 6px;}

.about1{color:rgb(255, 255, 255);font-weight:bold; font-size:20px; padding: 6px;}

      .women h2{
		color:blue;
		font-size:2.1em;
		font-size:bold;
		width:45em;
		margin:auto;
	}
	hr.h1{
		position:relative;
		top:46em;
		color:blue;
		z-index:1;
	}
	.women{
		z-index:-1;
		position:absolute;
		top:50em;
		text-align:center;
	}
	

	.price {
		position:relative;
		top:0px;
		left:0px;
		width:20px;
		color:black;
		font-weight:bold;
		font-size:22px;
		display: block;
	}
	
	
	s{
		border-radius:10px;
		margin:5px;
		height:auto;
		padding-left:5px;
		-ms-overflow-style:none;  /*hidding scrollbars for IE and EDGE*/
        scrollbar-width:none;  /*hidding scrollbar for firefox*/
        width:100%;
		overflow:scroll;
		}
		.outfits{width:100%;
		animation:dress 1s linear;
		animation-iteration-count:1;
		height:auto;
		position:relative;
		display:flex;
	    flex-direction: column;
			
		}
		
	.men_outfits::-webkit-scrollbar {
	display:none;     /*hidding scrollbars for chrome safari and Opera*/
	}
	
		
		
	.men{
		position:relative;
		top:5em;
		text-align:center;
		margin:8px;
		left: 0%;
		width: 98%;
		z-index: 1;
	
	}
	.dress {
		border: 1px solid rgb(4, 109, 112);
		border-radius: 5px;
		padding: 6px;
		height: 80%;
		margin: 31px;
		border-radius: 5px;
		width: 40%;
		background-color: white;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.dress::-webkit-scrollbar {
		display:none;     /*hidding scrollbars for chrome safari and Opera*/
		}
		
.dress button{
	
	font-size:12px;
	
}
	
	@keyframes dress{
		from{
		/*position:relative;
		left:100%;
		transform:rotate(20deg);*/
		transform:scale(0)}
		
		to{
		/*position:relative;
		left:-100%;
		transform:rotate(5deg);*/
		transform:scale(1)}
		}
	
	
	div.name{
		font-weight:bold;
		font-size:21px;
		color:black;
	}
	.dress img{
		width:80%;
		height:18em;
		position: relative;
	}
	.outfits button{
		background-color:red;
		color:white;
		border-radius:4px;
	}
	.outfits button:hover{
		background-color:blue;
	}

	.outfits{
    	position: relative;
		animation:dress 2s linear;
		animation-iteration-count:1;
		height: 100%;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		
	}
	
	.men h2 {
		color: blue;
		font-size: 2.2em;
		font-weight: bold;
		position: absolute;
		text-align: center;
		top: -14px;
		left: 35%;
		margin: -2px;
	}
	
	.dropdown_content1{
		position:relative;
		top:-10px;
	}
	.cancel-manu{
		position:absolute;
		top:0px;
		right:0px;
		color:red;
		font-weight:bold;
		font-size:25px;
		float:right;
		background-color:white;
		padding:2px;
		z-index:1;
	}
	

	.dropdown_content{
		display:none;
		float:left;
		background-color:#cccccc;
		position:fixed;
		top:0em;
		left:-20px;
		font-family : Verdana,Helvetica,Arial,sans-serif;
		width:15em;
		height:100%;
		z-index:1;
		padding:16px 0px 0px 5px;
		animation:slide 1s;
		-webkit-animation:slide 1s;
	}
	@keyframes slide{
		from{
			left:-10em;
		}
		to{
			left:-15px;
		}
		
	}
	
	@-webkit-keyframes silde{
	  from{ 
	                          left:-10em;}
							  
					    to{ 
	                          left:-15px;}
 }
	
	
	.menu:hover .dropdown_content{
		display:block;
	}
	.menu2:hover{
		opacity:0.5;
		
	}
	
	
	.menu{
		position:absolute;
		top:16%;
		left:0%;
		border-radius:10px;
		width:70px;
		height:40px;
		padding-left:8px;
		
	}
	.menu1{
		width:40px;
		height:6px;
		background-color:white;
		margin:6px;
		position:relative;
	}
	
	.items{
		width:30px;
		height:20px;
		position:absolute;
		top:5%;
		right:25%;
		text-align:center;
		color:rgb(250, 244, 244);
		font-weight:bold;
		font-size:20;
	}
	
	.cart i{
		font-size:40px;
		color:red;
	}
	
	.cart{
		position:absolute;
		top:1.5em;
		right:25%;
		top: 19%;
	}
	.cart:hover{
		opacity:0.5;
	}
	.search {
		position: absolute;
		top: 18px;
		right: -23px;
		width: 29%;
	}
	.search input[type=text]{
		color:blue;
		font-size:20px;
		padding: auto;
		text-align:center;
		width: 58%;
	}
	
	.search input{
		width:26%;
		height:55%;
		margin: 0;
	}
	.search button {
		text-align: center;
		padding: 1px;
		color: rgb(240, 240, 247);
		margin: 2px;
		height: 25%;
		background: none;
		border: none;
	}
	
	.top{
		
		height:70px;
		position:fixed;
		background-color:blue;
		color:white;
		width:100%;
		top:0%;
		left:0%;
		z-index: 999;
		
		
	}
.top h1{
	    color:white;
		font-size: 1.9em;
		font-weight: bold;
		bottom:6%;
	}
	
	body{ 
font-family : Verdana,Helvetica,Arial,sans-serif;
background-color:#FFFFFF;
padding: 8px;
margin:0;
width:100%;}

.title{
	position:absolute;
	top:20%;
	left:25%;
}
.title1{
	position:absolute;
	top:2em;
	left:40%;
}

.useravator{
	position: fixed;
	top:0.3em;
	right:5%;
	z-index: 1;
	background-color:rgba(109, 167, 194, 0.87) ;
	padding: 5px 20px 5px 20px;
	border-radius: 8px;
	background-image: linear-gradient(rgba(109, 167, 194, 0.87),blue,rgba(109, 167, 194, 0.87));

}

.useravator .username{
	font-size: 13px;
	font-weight: bold;
}
.useravator img{
	width:40px;
	height:40px;
	border-radius: 50%;
}
/*
li {
line-height:180%;
text-decoration:none;}

h2 { 
color:blue;
font-weight: bold;}

p {
color: black;}
.strong {
	color:blue;}

em{
font-style:italic;
font-weight:bold;font-size: 22px;color: maroon;}
li a{
font-size: medium;
line-height:180%;
text-decoration:none;
}

h2 a{
	font-size:26px;
text-decoration:none;}*/

	
}
